
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Variaveis*/

:root{
    --cor-primaria: #7380ec;
    --cor-danger: #ff7782;
    --cor-succerss: #41f1b6;
    --cor-warning: #ffbb55;
    --cor-white:#fff;
    --cor-info-dark:#7d8da1;
    --cor-info-light:#dce1eb;
    --cor-dark:#363949;
    --cor-light:rgba(132, 139, 200, 0.18);
    --cor-primaria-variante:#677483;
    --cor-do-background: #f6f6f9;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --border-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--cor-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--cor-do-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--cor-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--cor-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.foto__perfil {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text__muted {
    color: var(--cor-info-dark);
}

p {
     color: var(--cor-primaria-variante);
}

b {

    color: var(--cor-dark);
}

.primary {
    color: var(--cor-primaria);
}
.logo__text {
    color: var(--cor-danger);
}
.success {
    color: var(--cor-succerss);
}
.warning {
    color: var(--cor-warning);
}

aside {
  height: 100vh;
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo {
    display: flex;
    gap: 0.8rem;
}
aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .fechar {
    display: none;
}

/*==============================SIDEBAR=======================*/
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86rem;
    position: relative;
    top: 3rem;
}
aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    position: relative;
    height: 3.7rem;
    color: var(--cor-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size:  1.6rem;
    transition: all 300ms ease;
}

/*aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}*/

aside .sidebar  a.active {
    background: var(--cor-light);
    color: var(--cor-primaria);
    margin-left: 0;
}

aside .sidebar  a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--cor-primaria);
}

aside .sidebar a.active span {
    color: var(--cor-primaria);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--cor-primaria);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .mensagem__count {
    background: var(--cor-danger); 
    color: var(--cor-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}
/*==============================MAIN=======================================*/


main {
    margin-top: 1.4rem;  
}

main .data {
    display: inline-block;
    background: var(--cor-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main  .data input {
    background: transparent;
    color: var(--cor-dark);
}
main .percepcoe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .percepcoe > div {
    background: var(--cor-white);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .percepcoe > div:hover{
    box-shadow: none;
} 
main .percepcoe > div span {
    background: var(--cor-primaria);
    padding: 0.5rem;
    color: var(--cor-white);
    border-radius: 50%;
    font-size:  2rem;
}

main .percepcoe > div.despesas span {
    background-color: var(--cor-danger);
}

main .percepcoe > div.renda span {
    background-color: var(--cor-succerss);
}

main .percepcoe > div .meio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .percepcoe h3 {
    margin:  1rem 0 0.6rem;
    font-size: 1rem;
}
main .percepcoe .progresso{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .percepcoe svg {
    width: 7rem;
    height: 7rem;
}
main .percepcoe svg circle {
    fill: none;
    stroke: var(--cor-primaria);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 60 ;
}

main .percepcoe .vendas svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 188;
}